<!-- views/projects/index.ejs -->
<!doctype html>
<html>
<head>
  <title>Blue Projects</title>
</head>
<body>
<% include ../header %>

  <div class="projects-upper">
    <a href="/projects/action/createProject">Create new project...</a>
  </div>

  <div class="projects-container">
    <% projects.forEach( function( project ){ %>
      <!-- <a style="display:block" href="/projects/<%= project.name %>"> -->
      <div class="col-sm-6">
        <div class="well">
          <h3><span class="fa fa-angle-double-right"></span> <a href="/projects/<%= project.name %>"><%= project.name %></a></h3>
            <p>
              <strong> <%= project.description %></strong><br>
              <strong>Owner</strong>: <%= project._owner.local.name %><br><br>
              <a data-method="DELETE" href="/projects/action/delete?id=<%= project.id %>">delete</a>
            </p>
        </div>
      </div>
      <!-- </a> -->
    <% }); %>
  </div>

<% include ../footer.ejs %>
