<div class="h1"><%= board.name %></div>
<% board.columns.forEach( function ( column ) { %>
 <div class="portlet-column">
   <div class="board-column-name"><%= column %></div>
   <ul id="sortable">
     <% board.cards.forEach( function ( card ) { %>
       <% if (card.columnName === column) { %>
         <div class="portlet">
           <li>
             <div class="portlet-header">
               <span class="lead card-name"><%= cards[card.cardId].name %></span>
             </div>
             <div class="portlet-content">
             </div>
           </li>
         </div>
       <% } %>
     <% }); %>
   </ul>
   <a href="/projects/action/createCard?projectName=<%= project.name %>&boardName=<%= board.name %>&columnName=<%= column %>" class="add-card"> Add a card...</a>
 </div>
<% }); %>
</div>
