<section id="connected" name="<%= board.name %>">
<% board.columns.forEach( function ( column ) { %>
  <div class="board-column">
    <div class="board-column-name"><%= column %></div>
    <ul id="<%= column %>" class="card-container connected sortable dropzone <%= column %>">
      <% board.cards.forEach( function ( card ) { %>
        <% if (card.columnName === column) { %>
          <li draggable=true class="card" id="<%= card.cardId %>">
            <a style="card-link" href="/projects/action/editCard?cardId=<%= card.cardId %>&boardName=<%= board.name %>&projectName=<%= project.name %>">
              <div class="card-name">
                <span class="lead"><%= cards[card.cardId].name %></span>
              </div>
              <div class="card-content">
              </div>
            </a>
          </li>
        <% } %>
      <% }); %>
    </ul>
    <a href="/projects/action/createCard?projectName=<%= project.name %>&boardName=<%= board.name %>&columnName=<%= column %>" class="add-card"> Add a card...</a>
  </div>
<% }); %>
</section>
