<section id="connected" name="<%= board.name %>">
<% board._columns.forEach( function ( column ) { %>
  <div class="board-column">
    <div class="board-column-name"><%= column.name %></div>
    <ul id="<%= board._id %>" class="card-container connected sortable dropzone <%= column.name %><%= board._id %>">
      <% column._cards.forEach( function ( card ) { %>
        <li draggable=true class="card" id="<%= card._id %>">
        <a style="card-link" href="/projects/action/editCard?cardId=<%= card._id %>&columnId=<%= column.id %>&projectName=<%= project.name %>">
            <div class="card-name">
              <span class="lead"><%= card.name %></span>
            </div>
            <div class="card-content">
            </div>
          </a>
        </li>
      <% }); %>
    </ul>
    <a href="/projects/action/createCard?columnId=<%= column._id %>&projectName=<%= project.name %>" class="add-card"> Add a card...</a>
  </div>
<% }); %>
</section>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  +
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Column</h4>
      </div>
      <div class="modal-body">
        <form action="/column/create" method="post">
          <input type="hidden" name="boardId" value="<%= board._id %>">
          <input type="hidden" name="projectName" value="<%= project.name %>">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()
})
</script>
