<div id="tabs" class="board">
  <% if ( typeof(boards) != 'undefined' ) { %>
    <ul class="nav nav-tabs">
      <% boards.forEach( function ( board ) { %>
        <li role="presentation"><a href="#tabs-<%=board.id%>"><%= board.name %></a></li>
        <!-- <li role="presentation" class="active"><a href="#">Home</a></li> -->
      <% }); %>
      <li role="presentation"><a href="/projects/action/createBoard?projectName=<%=encodeURIComponent(project.name) %>"> + </a></li>
    </ul>
    <% boards.forEach( function ( board ) { %>
      <div id="tabs-<%= board.id %>">
        <%- include board.ejs %>
      </div>
    <% }); %>
  <% } else { %>
    <div class="h1">No boards. Create one to get started!</div>
  <% }; %>
</div>
