<div id="tabs" class="board">
    <ul class="nav nav-tabs">
      <% count = 0; %>
      <% if ( typeof(boards) != 'undefined' ) { %>
        <% boards.forEach( function ( board, index, array ) { %>
          <% count++ %>
          <li role="presentation"<% if (index == 0) { %> class=""<% }; %>><a href="#tabs-<%=board.id%>"><%= board.name %></a></li>
          <!-- <li role="presentation" class="active"><a href="#">Home</a></li> -->
        <% }); %>
      <% }; %>
        <li role="presentation"><a href="/projects/action/createBoard?projectName=<%=encodeURIComponent(project.name) %>"> + </a></li>
    </ul>
    <% if ( typeof(boards) != 'undefined' ) {%>
      <% boards.forEach( function ( board ) { %>
        <div id="tabs-<%= board.id %>" class="board-container">
          <%- include board.ejs %>
        </div>
      <% }); %>
    <% }; %>
</div>
